header{
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #0d0d0d;
    position: fixed;
    -webkit-box-shadow: 0px 8px 30px -3px rgba(0,0,0, 0.61);
-moz-box-shadow: 0px 8px 30px -3px rgba(0, 0, 0, 0.61);
box-shadow: 0px 8px 30px -3px rgba(0, 0, 0, 0.61);
}

nav{
    width: 30vw;
    display:flex;
    justify-content: center;
    align-items: center;
   

} 

nav img{
    width: 30;
    margin:0.8em;
    -webkit-box-shadow: 0px 8px 30px -3px rgba(135,69,135,1);
-moz-box-shadow: 0px 8px 30px -3px rgba(135,69,135,1);
box-shadow: 0px 8px 30px -3px rgba(135,69,135,1);
}

.logo{
    width: 20vw;
    height:20vh;
    object-fit: cover;
}